In [6]:
import pandas as pd
import numpy as np
import spacy
from spacy.matcher import PhraseMatcher
from spacy.tokens import Span
from spacy import displacy
import json
import random
import re

In [7]:

df_position_sentiment = pd.read_csv(r'./data/qb/processed/combine_aspect_position_0325_clean.csv')

In [8]:
df_position_sentiment['Asp Sentiment'].replace('0', np.nan, inplace=True)

In [9]:
df_position_sentiment.dropna(subset=['Asp Sentiment'], inplace=True)

In [10]:
#df_position_sentiment = df_position_sentiment.head(3000)
#(df_position_sentiment['Doc Sentiment'].values != df_position_sentiment['Asp Sentiment'].values).sum()

In [11]:
#df_position_sentiment.drop(
#    df_position_sentiment[df_position_sentiment['Doc Sentiment'].values == df_position_sentiment['Asp Sentiment']
#                          .values].index, inplace=True)

In [12]:
df_position_sentiment.head()

,Unnamed: 0,Unnamed: 0.1,Review ID,Country,Version,Rating,Date,Doc Sentiment,Asp Sentiment,Review,Aspects,AspectText,Positions
0,0,0,5464235433,Canada,20.01.5,1,1/30/20,negative,neutral,latest app update . this update is terrible ba...,app,app,"7,9"
1,1,1,5464235433,Canada,20.01.5,1,1/30/20,negative,negative,latest app update . this update is terrible ba...,updates,update,"11,16"
2,2,2,5466985498,USA,20.01.5,5,1/30/20,positive,positive,life saver . one my favorite apps to use while...,app,apps,"28,31"
3,3,3,5460552711,USA,20.01.4,1,1/29/20,negative,negative,worst update yet . just deleted . crashed . di...,updates,update,"6,11"
4,4,4,5460552711,USA,20.01.4,1,1/29/20,negative,negative,worst update yet . just deleted . crashed . di...,experience,deleted,"23,29"

In [13]:
#df_position_sentiment[df_position_sentiment.AspectText == ]
print(len(df_position_sentiment))
df_position_sentiment.dropna(subset=['AspectText'], inplace=True)
print(len(df_position_sentiment))

14824
14821

In [14]:
df_position_sentiment['Asp Sentiment'].unique()

array(['neutral', 'negative', 'positive'], dtype=object)

In [15]:
#df_position_sentiment[df_position_sentiment.AspectText == ]
print(len(df_position_sentiment))
df_position_sentiment.dropna(subset=['Positions'], inplace=True)
print(len(df_position_sentiment))

14821
14821

In [16]:
df_positive = df_position_sentiment[df_position_sentiment['Rating'] == 5.0]

In [17]:
len(df_positive)

6778

In [18]:
df_negative = df_position_sentiment[df_position_sentiment['Rating'] == 1.0]

In [19]:
len(df_negative)

4657

In [20]:
(df_positive['Review'].str.len() < 250).sum()

5839

In [21]:
positive_idx = []

for index, row in df_positive.iterrows():
    positive_idx.append(index)

In [22]:
positive_idx

[2,
 6,
 12,
 49,
 52,
 53,
 54,
 57,
 58,
 67,
 68,
 77,
 78,
 81,
 89,
 90,
 105,
 106,
 118,
 119,
 125,
 127,
 137,
 138,
 139,
 140,
 141,
 144,
 146,
 177,
 205,
 240,
 245,
 246,
 248,
 261,
 262,
 269,
 270,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 282,
 293,
 294,
 296,
 306,
 310,
 317,
 319,
 337,
 344,
 348,
 349,
 350,
 354,
 364,
 374,
 385,
 386,
 389,
 405,
 406,
 441,
 457,
 458,
 465,
 480,
 494,
 495,
 501,
 512,
 513,
 514,
 515,
 523,
 601,
 605,
 607,
 608,
 611,
 637,
 648,
 649,
 650,
 651,
 662,
 669,
 670,
 671,
 672,
 678,
 689,
 691,
 692,
 693,
 697,
 702,
 710,
 711,
 712,
 720,
 722,
 723,
 737,
 747,
 751,
 752,
 756,
 769,
 774,
 775,
 776,
 777,
 778,
 782,
 791,
 792,
 796,
 808,
 838,
 847,
 848,
 849,
 869,
 870,
 878,
 886,
 887,
 921,
 931,
 937,
 938,
 939,
 940,
 941,
 950,
 956,
 958,
 964,
 972,
 977,
 980,
 981,
 989,
 990,
 991,
 992,
 993,
 1011,
 1012,
 1025,
 1026,
 1033,
 1034,
 1051,
 1059,
 1060,
 1063,
 1064,
 1070,
 1071,
 1072,
 1076,
 1078,
 1086,
 1087,
 1088,
 1089,
 1101,
 1102,
 1114,
 1123,
 1140,
 1144,
 1175,
 1225,
 1239,
 1242,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1263,
 1278,
 1287,
 1288,
 1297,
 1298,
 1299,
 1300,
 1303,
 1306,
 1308,
 1309,
 1315,
 1316,
 1320,
 1321,
 1324,
 1325,
 1326,
 1327,
 1330,
 1336,
 1337,
 1338,
 1339,
 1341,
 1342,
 1351,
 1352,
 1359,
 1362,
 1363,
 1370,
 1371,
 1396,
 1402,
 1406,
 1421,
 1422,
 1431,
 1434,
 1435,
 1444,
 1449,
 1457,
 1465,
 1466,
 1467,
 1473,
 1474,
 1480,
 1481,
 1484,
 1485,
 1492,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1523,
 1524,
 1525,
 1528,
 1531,
 1535,
 1536,
 1545,
 1549,
 1554,
 1577,
 1582,
 1583,
 1584,
 1585,
 1586,
 1587,
 1595,
 1596,
 1597,
 1611,
 1612,
 1613,
 1617,
 1618,
 1619,
 1620,
 1623,
 1656,
 1657,
 1658,
 1659,
 1660,
 1661,
 1665,
 1666,
 1669,
 1670,
 1677,
 1687,
 1688,
 1697,
 1700,
 1703,
 1704,
 1710,
 1711,
 1712,
 1720,
 1721,
 1724,
 1725,
 1727,
 1729,
 1730,
 1731,
 1750,
 1751,
 1767,
 1777,
 1783,
 1784,
 1785,
 1786,
 1788,
 1791,
 1792,
 1793,
 1794,
 1796,
 1797,
 1803,
 1804,
 1806,
 1810,
 1813,
 1824,
 1829,
 1830,
 1831,
 1840,
 1845,
 1861,
 1868,
 1871,
 1872,
 1873,
 1879,
 1880,
 1882,
 1884,
 1890,
 1891,
 1915,
 1916,
 1922,
 1926,
 1930,
 1931,
 1932,
 1933,
 1934,
 1958,
 1959,
 1964,
 1968,
 1969,
 1970,
 1971,
 1983,
 1984,
 1997,
 1998,
 1999,
 2000,
 2003,
 2004,
 2009,
 2013,
 2034,
 2035,
 2036,
 2037,
 2038,
 2041,
 2042,
 2043,
 2057,
 2058,
 2068,
 2069,
 2070,
 2071,
 2072,
 2073,
 2081,
 2097,
 2117,
 2125,
 2134,
 2145,
 2149,
 2154,
 2155,
 2156,
 2157,
 2164,
 2167,
 2174,
 2175,
 2176,
 2177,
 2178,
 2179,
 2183,
 2187,
 2196,
 2203,
 2207,
 2208,
 2212,
 2214,
 2215,
 2231,
 2235,
 2243,
 2244,
 2245,
 2246,
 2251,
 2254,
 2256,
 2258,
 2260,
 2272,
 2273,
 2281,
 2282,
 2283,
 2284,
 2285,
 2290,
 2291,
 2292,
 2293,
 2296,
 2312,
 2314,
 2315,
 2316,
 2319,
 2325,
 2326,
 2327,
 2328,
 2348,
 2349,
 2356,
 2357,
 2362,
 2366,
 2367,
 2368,
 2369,
 2370,
 2371,
 2372,
 2375,
 2378,
 2380,
 2381,
 2382,
 2383,
 2385,
 2389,
 2390,
 2394,
 2395,
 2396,
 2397,
 2401,
 2402,
 2403,
 2407,
 2408,
 2409,
 2413,
 2414,
 2415,
 2417,
 2419,
 2423,
 2424,
 2426,
 2427,
 2428,
 2429,
 2430,
 2431,
 2432,
 2433,
 2436,
 2437,
 2438,
 2445,
 2446,
 2454,
 2462,
 2464,
 2465,
 2466,
 2467,
 2468,
 2469,
 2470,
 2471,
 2472,
 2473,
 2477,
 2478,
 2479,
 2480,
 2481,
 2487,
 2488,
 2489,
 2491,
 2492,
 2493,
 2494,
 2495,
 2496,
 2497,
 2498,
 2499,
 2500,
 2501,
 2502,
 2509,
 2510,
 2511,
 2520,
 2525,
 2526,
 2527,
 2528,
 2531,
 2538,
 2539,
 2540,
 2543,
 2547,
 2548,
 2549,
 2555,
 2556,
 2558,
 2559,
 2563,
 2564,
 2565,
 2566,
 2567,
 2573,
 2574,
 2575,
 2576,
 2580,
 2581,
 2583,
 2584,
 2588,
 2589,
 2590,
 2591,
 2592,
 2593,
 2594,
 2599,
 2600,
 2601,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2609,
 2610,
 2611,
 2612,
 2615,
 2616,
 2617,
 2620,
 2621,
 2622,
 2625,
 2629,
 2630,
 2634,
 2635,
 2636,
 2637,
 2638,
 2639,
 2640,
 2641,
 2642,
 2649,
 2650,
 2651,
 2652,
 2654,
 2655,
 2665,
 2666,
 2669,
 2673,
 2674,
 2675,
 2676,
 2677,
 2678,
 2679,
 2682,
 2683,
 2684,
 2688,
 2689,
 2690,
 2691,
 2692,
 2693,
 2694,
 2695,
 2696,
 2698,
 2699,
 2700,
 2701,
 2704,
 2705,
 2706,
 2707,
 2708,
 2709,
 2713,
 2714,
 2716,
 2717,
 2718,
 2719,
 2720,
 2721,
 2724,
 2728,
 2732,
 2737,
 2738,
 2741,
 2742,
 2743,
 2744,
 2747,
 2756,
 2763,
 2764,
 2765,
 2766,
 2767,
 2768,
 2769,
 2773,
 2776,
 2780,
 2781,
 2782,
 2785,
 2786,
 2787,
 2788,
 2790,
 2791,
 2795,
 2801,
 2802,
 2803,
 2804,
 2805,
 2806,
 2807,
 2821,
 2822,
 2823,
 2824,
 2829,
 2830,
 2831,
 2832,
 2838,
 2839,
 2840,
 2841,
 2843,
 2844,
 2847,
 2850,
 2851,
 2853,
 2855,
 2866,
 2872,
 2873,
 2874,
 2875,
 2876,
 2877,
 2878,
 2879,
 2880,
 2883,
 2889,
 2892,
 2893,
 2900,
 2901,
 2907,
 2910,
 2912,
 2913,
 2914,
 2923,
 2925,
 2926,
 2929,
 2931,
 2933,
 2934,
 2935,
 2936,
 2937,
 2942,
 2943,
 2946,
 2947,
 2948,
 2949,
 2960,
 2961,
 2962,
 2963,
 2964,
 2965,
 2966,
 2968,
 2969,
 2970,
 2971,
 2972,
 2974,
 2975,
 2976,
 2977,
 2978,
 2979,
 2980,
 2981,
 2982,
 2983,
 2984,
 2985,
 2986,
 2987,
 2988,
 2989,
 2992,
 2993,
 2994,
 3005,
 3008,
 3012,
 3016,
 3017,
 3018,
 3019,
 3020,
 3022,
 3023,
 3024,
 3029,
 3030,
 3031,
 3032,
 3033,
 3034,
 3035,
 3036,
 3044,
 3045,
 3047,
 3048,
 3049,
 3050,
 3053,
 3054,
 3057,
 3059,
 3066,
 3072,
 3080,
 3081,
 3082,
 3083,
 3084,
 3085,
 3091,
 3092,
 3093,
 3094,
 3095,
 3096,
 3097,
 3098,
 3099,
 3100,
 3101,
 3102,
 3103,
 3104,
 3107,
 3110,
 3111,
 3113,
 3114,
 3115,
 3117,
 3118,
 3119,
 3120,
 3121,
 3122,
 3123,
 3124,
 3125,
 3126,
 3129,
 3132,
 3133,
 3136,
 3137,
 3138,
 3139,
 3140,
 3141,
 3142,
 3144,
 3152,
 3155,
 3156,
 3157,
 3158,
 3162,
 3165,
 3166,
 3167,
 3168,
 3169,
 3170,
 3171,
 3172,
 3173,
 3178,
 3179,
 3180,
 3183,
 3184,
 3186,
 3188,
 3195,
 3196,
 3197,
 3198,
 3202,
 3204,
 3205,
 3206,
 3207,
 3208,
 3210,
 3227,
 3228,
 3229,
 3230,
 3232,
 3237,
 3238,
 3239,
 3240,
 3241,
 3242,
 3252,
 3269,
 3296,
 3304,
 3306,
 3308,
 3309,
 3310,
 3311,
 3312,
 3317,
 3318,
 3319,
 3320,
 3323,
 3324,
 3327,
 3328,
 3329,
 3330,
 3331,
 3332,
 3337,
 3341,
 3342,
 3343,
 3351,
 3352,
 3358,
 3363,
 3369,
 3370,
 3371,
 3374,
 3375,
 3378,
 3379,
 3383,
 3384,
 3385,
 3386,
 3391,
 3392,
 3393,
 3395,
 3396,
 3397,
 3402,
 3403,
 3406,
 3407,
 3408,
 3409,
 3410,
 3411,
 3413,
 3414,
 3418,
 3419,
 3420,
 3424,
 3425,
 3426,
 3430,
 3431,
 3432,
 3444,
 3445,
 3446,
 3447,
 3448,
 3449,
 3457,
 3458,
 3461,
 3463,
 3464,
 3466,
 3469,
 3472,
 3475,
 3476,
 3477,
 3478,
 3479,
 3481,
 3482,
 3486,
 3487,
 3488,
 3489,
 3490,
 3494,
 3498,
 3502,
 3503,
 3504,
 3505,
 3506,
 3507,
 3508,
 3513,
 ...]

In [23]:
positive_aspect = df_positive.loc[positive_idx[5], :]['Asp Sentiment']
positive_aspect

'neutral'

In [24]:
#generate aspect position index

df_mix = pd.DataFrame(columns=['Review ID', 
                                       'Country', 'Version', 
                                       'Rating', 'Date', 'Doc Sentiment', 'Asp Sentiment', 
                                       'Review', 'Aspects', 'AspectText', 'Positions'])

idx_counter = 0

for index, row in df_negative.iterrows():

    positive_aspect = df_positive.loc[positive_idx[idx_counter], :]['Asp Sentiment']
    review = str(df_positive.loc[positive_idx[idx_counter], :]['Review']) + row['Review']
    
    start_idx = review.find(str(df_positive.loc[positive_idx[idx_counter], :]['AspectText']))
          
    position = str(start_idx) + ',' + str(start_idx + len(df_positive.loc[positive_idx[idx_counter], :]['AspectText']) - 1)
    
    #positive
    df_mix = df_mix.append({
        'Review ID': row['Review ID'], 
        'Country': row['Country'], 
        'Version': row['Version'],
        'Rating': row['Rating'],
        'Date': row['Date'],            
        'Doc Sentiment': row['Doc Sentiment'],
        'Asp Sentiment' : row['Asp Sentiment'],
        'Review': review,
        'AspectText': df_positive.loc[positive_idx[idx_counter], :]['AspectText'],
        'Aspects': df_positive.loc[positive_idx[idx_counter], :]['Aspects'],
        'Positions': position
    }, ignore_index=True)
    
    start_idx = review.find(row['AspectText'])          
    position = str(start_idx) + ',' + str(start_idx + len(row['AspectText']) - 1)
    
    df_mix = df_mix.append({
        'Review ID': row['Review ID'], 
        'Country': row['Country'], 
        'Version': row['Version'],
        'Rating': row['Rating'],
        'Date': row['Date'],            
        'Doc Sentiment': row['Doc Sentiment'],
        'Asp Sentiment' : row['Asp Sentiment'],
        'Review': review,
        'AspectText': row['AspectText'],
        'Aspects': row['Aspects'],
        'Positions': position
    }, ignore_index=True)
    
    idx_counter += 1

In [25]:
df_mix.Review.map(len).max()

948

In [26]:
(df_mix['Review'].str.len() < 500).sum()

7314

In [27]:
len(df_mix)

9314

In [28]:
#recalculate position
#for index, row in df_position_sentiment.iterrows():
    
#    df_position_sentiment.loc[index,'Review'] = row['Review'].replace('/', '').replace('-', '')
    
#    start_idx = row['Review'].find(row['AspectText'])
          
#    df_position_sentiment.loc[index,'Positions'] = str(start_idx) + ',' + str(start_idx + len(row['AspectText']) - 1)

In [29]:
df_mix.head()

,Review ID,Country,Version,Rating,Date,Doc Sentiment,Asp Sentiment,Review,Aspects,AspectText,Positions
0,5464235433,Canada,20.01.5,1,1/30/20,negative,neutral,life saver . one my favorite apps to use while...,app,apps,"29,32"
1,5464235433,Canada,20.01.5,1,1/30/20,negative,neutral,life saver . one my favorite apps to use while...,app,app,"29,31"
2,5464235433,Canada,20.01.5,1,1/30/20,negative,negative,great app for small business owner ! . i have ...,app,app,"6,8"
3,5464235433,Canada,20.01.5,1,1/30/20,negative,negative,great app for small business owner ! . i have ...,updates,update,"161,166"
4,5460552711,USA,20.01.4,1,1/29/20,negative,negative,"it just work . see above . in the office , on ...",app,software,"196,203"

In [30]:
#split data in - train test and dev
def train_validate_test_split(df, train_percent=.6, validate_percent=.2, seed=None):
    np.random.seed(seed)
    
    perm = np.random.permutation(np.arange(len(df)))
    m = len(df)
    
    train_end = int(train_percent * m)
    validate_end = int(validate_percent * m) + train_end
    train = df.iloc[perm[:train_end - 1] - 1]
    validate = df.iloc[perm[train_end:validate_end - 1] - 1]
    test = df.iloc[perm[validate_end:]]
    return train, validate, test

In [31]:
train, validate, test = train_validate_test_split(df_mix)

In [32]:
train.head()

,Review ID,Country,Version,Rating,Date,Doc Sentiment,Asp Sentiment,Review,Aspects,AspectText,Positions
7414,gp:AOqpTOH46yq5mj5I1tlqxosiTqFrm0Bx_kNzQoSVfxN...,English,NaN,1,5/6/18,negative,negative,". love the app , have used it for year . just ...",app,app,"11,13"
7772,gp:AOqpTOHSBKo2IRispw4nw3T0SzcVQ0wKa_EiYYYqLJk...,English,NaN,1,6/16/17,neutral,neutral,. i wa finally able to utilize this valuable r...,estimates,estimates,"-1,7"
4785,945572453,USA,1.3.1,1,2/18/14,negative,negative,"excellent app . keep all my invoice , estimate...",app,app,"10,12"
9063,gp:AOqpTOF2zeM9Ff1HQz40IEHUGfY7y1M733dNe-s44z1...,English,3.6.1,1,8/28/14,negative,negative,". great app , make paperless billing a breeze ...",experience,payroll,"79,85"
4461,1204509250,Canada,4.3,1,5/30/15,negative,negative,effective . efficient . essential.. began usin...,updates,updates,"-1,5"

In [33]:
len(train)

5587

### Generate files

In [34]:
def generate_input_files(d_type, data):

    #save reviews
    df_review = data[['Review']]
    df_review.to_csv(r'data/qb/{}/review.txt'.format(d_type), header=None, index=None, sep='\n', mode='a')

    #save aspects
    df_review = data[['AspectText']]
    df_review.to_csv(r'data/qb/{}/term.txt'.format(d_type), header=None, index=None, sep='\n', mode='a')

    #save positions
    df_review = data[['Positions']]
    df_review.to_csv(r'data/qb/{}/position.txt'.format(d_type), header=None, index=None, sep='\n', mode='a')

    #save label
    df_review = data[['Asp Sentiment']]
    df_review.to_csv(r'data/qb/{}/label.txt'.format(d_type), header=None, index=None, sep='\n', mode='a')

In [35]:
generate_input_files('train', train)
generate_input_files('test', test)
generate_input_files('dev', validate)