In [1]:
import pandas as pd
import numpy as np
import time

import nltk.data
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/rmajumder/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')

In [3]:
df = pd.read_excel('../data/original/QBO_IOS_Reviews.xlsx', sheet_name='Review Text')

In [4]:
df.head()

,Unnamed: 0,Review ID,Version,Rating,Date,Aspect,Subject,Body
0,0,5.467988e+09,20.01.6,1,2020-01-31,NaN,Shiny useless tool,This app looks awesome. Very well thought out...
1,1,5.464235e+09,20.01.5,1,2020-01-30,NaN,Latest app update,This update is terrible basically unusable ple...
2,2,5.467098e+09,20.01.5,3,2020-01-30,NaN,App closes out while entering expenses,The majority of the time this app is wonderful...
3,3,5.466985e+09,20.01.5,5,2020-01-30,NaN,Life saver,One my favorite apps to use while working. I’m...
4,4,5.467691e+09,20.01.6,5,2020-01-30,NaN,Small business,This absolutely works perfectly without diffic...

In [5]:
data_sent_split = []

In [6]:
for index, row in df.iterrows():
    split_sent = tokenizer.tokenize(row['Body'])
    
    for sentence in split_sent:
        newrow = []
        newrow.append(row['Review ID'])
        newrow.append(row['Version'])
        newrow.append(row['Rating'])
        newrow.append(row['Date'])
        newrow.append('a')
        newrow.append(row['Subject'])
            
        newrow.append(sentence)
        
        data_sent_split.append(newrow)

In [7]:
df_sent = pd.DataFrame(data_sent_split, columns = ['Review ID', 'Version', 'Rating', 'Date', 'Aspect', 'Subject', 'Body'])

In [8]:
df_sent.head()

,Review ID,Version,Rating,Date,Aspect,Subject,Body
0,5.467988e+09,20.01.6,1,2020-01-31,a,Shiny useless tool,This app looks awesome.
1,5.467988e+09,20.01.6,1,2020-01-31,a,Shiny useless tool,Very well thought out design and it appears th...
2,5.467988e+09,20.01.6,1,2020-01-31,a,Shiny useless tool,Not so.
3,5.467988e+09,20.01.6,1,2020-01-31,a,Shiny useless tool,I have used it mostly for categorizing expenses.
4,5.467988e+09,20.01.6,1,2020-01-31,a,Shiny useless tool,"I was trying to run a report, but nothing real..."

In [9]:
df_sent.to_excel("../data/reviewtosentences/QBO_IOS_ReviewToSentences.xlsx", sheet_name='Review Text')